/* nav  */
.nav {
  padding: 2em 0;
  /* border: 4px solid blue; */
}
.nav__icon,
.nav__close,
.nav__bgOverlay {
  display: none;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
}
.nav__list li{
  display: inline-block;
  margin: 0 1rem;
}
.nav__list .nav__link {
  
}
